.gender-buttons {
    display: flex;
    height: 2rem;
    padding: 1.5rem;
    background-color: #354F52;
    border-radius: 10px;
    border: 1px solid #84A98C;
}

.button-style {
    background-color: #52796F;
    border: 1.5px solid #84A98C;
    border-radius: 5px;
    color: #CAD2C5;
    width: 4rem;
    margin-right: 2px;
    font-size: 14px;
}

.button-style:hover {
    background-color: #84A98C;
    color: #CAD2C5;
}

.button-style-clicked {
    background-color: #84A98C;
    color: #CAD2C5;
    border: 1.5px solid #84A98C;
    border-radius: 5px;
    width: 4rem;
    margin-right: 2px;
}

.button-container {
    
}

