.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-container {
  display: flex;
  overflow-x: auto;
}

.table-center-table {
    display:flex;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
}

.table-color {
    background-color: 354F52;
}

table {
  width: 100%;
  border-collapse: collapse; 
  color: #CAD2C5;
}

th, td {
  border: 1px solid #84A98C; 
  text-align: left; 
  padding: 8px;
  width: 20%;

}

th {
  font-weight: bold; 
}

tr:nth-child(even) {
  background-color: #52796F;
}

